<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Api</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
</head>
<body>

    <ul style="position: relative">
        @if (User.IsInRole("PayingUser"))
        {
            <li style="float:right">
                <a  id="logout" asp-area="" asp-controller="Home" asp-action="OrderFrame">Order Frame</a>
            </li>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <li style="float:right">
                <a id="logout" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        }
    </ul>
    <hr />
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
